body {
  color: #ffffff !important;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;

  &-fluid {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.section {
  padding: 100px 30px;
}
.dark-section {
  background: $brand-dark-gradient;

  &-invert {
    background: $brand-dark-gradient-invert;
  }
}

.app-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.link-text {
  text-decoration: underline;
  color: var(--one-fl-colors-brand-primary700);
}

.special-highlight {
  color: var(--one-fl-colors-brand-primary700);

  &-title {
    color: var(--one-fl-colors-brand-primary600);
    position: relative;
    margin-left: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 20px;
      background-color: var(--one-fl-colors-brand-primary700);
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.pre-highlight-card {
  border-bottom: 0.5px solid var(--one-fl-colors-brand-secondary800);
  backdrop-filter: blur(40px);

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  width: max-content;
  text-align: center;
  padding: 8px 25px;
  font-weight: 300;
  font-size: 14px;
}

.navbar {
  background: #0f1545;
  border-bottom: 0.5px solid var(--one-fl-colors-brand-secondary800);
}

.hero-section {
  background: $brand-dark-gradient;
  color: #ffffff;
  // min-height: 90vh;
  text-align: center;
  box-shadow: inset 0px -20px 16px 15px $brand-dark-gradient;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;

  .hero {
    width: 100%;

    .pre-highlight-card {
      margin: 20px auto;
    }
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
  }

  .description {
    font-size: 1.2rem;
    font-weight: 500;

    margin-bottom: 20px;
  }

  .hero-image {
    margin-top: 30px;
  }
}

.trusted-clientele-section {
  padding-top: 0;
  position: relative;
  margin-top: -10px;

  .trusted-by {
    text-align: center;
    padding: 50px 40px;
    width: 100%;
    position: relative;

    .content {
      position: relative;
      z-index: 1;
    }
  }

  .clientele-list {
    margin-top: 60px;

    .clientele-logo {
      img,
      svg {
        filter: invert(1);
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(20px);
    height: 100px;
    background: $brand-dark-gradient;
  }
}

.product-intro-section {
  background: $brand-dark-gradient-invert;

  .context {
    margin-bottom: 30px;
  }

  .product-item {
    border: 1px solid var(--one-fl-colors-brand-secondary700);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
    margin-right: 45px;
    height: 240px;

    .title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .description {
      font-size: 15px;
    }
  }
}

.app-features-tab {
  .gradient-title {
    color: linear-gradient(0deg, rgba(255, 255, 255, 0.46) 0%, #ffffff 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 40px;
  }

  .tabs-wrapper {
    border-left: 3px solid var(--one-fl-colors-brand-primary700);
    padding-left: 40px;

    .featured-tab {
      * {
        transition: all 0.3s ease-in-out;
        user-select: none;
      }

      .content {
        display: flex;
        flex-direction: column;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .description {
        font-size: 15px;
      }

      .cta {
        font-size: 15px;
        margin-bottom: 30px;
        background-color: var(--one-fl-colors-brand-primary700);
        width: fit-content;
      }
    }
  }
}

.testimonials-section {
  .special-highlight-title {
    margin-bottom: 20px;
  }

  .gradient-title {
    margin-bottom: 30px;
  }

  .testimonial-card {
    border: 1px solid var(--one-fl-colors-brand-secondary700);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 300px;
    cursor: pointer;

    * {
      user-select: none;
    }

    .logo {
      margin-bottom: 40px;
    }
    .feedback {
      margin-bottom: 30px;
    }
    .bio-profile {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: 20px;
      }

      .bio-brief {
        .name {
          font-weight: 600;
        }
        .designation {
          font-size: 15px;
          color: var(--one-fl-colors-brand-neutral600);
        }
      }
    }
  }
}

.text-featured-section {
  position: relative;

  &::before {
    content: "";
    background: url("/images/cta-banner-bg.svg") no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .text-featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 20vh;
  }
}

.faqs-section {
  .faqs {
    .faq-item {
      border: none;

      .faq-header {
        display: flex;
        align-items: center;
        gap: 20px;

        .sn {
          background: var(--one-fl-colors-brand-primary700);
          border-radius: 5px;
          width: 30px;
          height: 30px;
          font-size: 15px;
          font-weight: 800;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
        }

        .faq-question {
          font-weight: bold;
        }
      }

      .faq-body {
        padding-left: 75px;
        font-size: 14px;
      }
    }
  }
}

.documentation-section {
  .pre-highlight-card {
    margin-bottom: 20px;
  }

  .app-title {
    margin-bottom: 20px;
  }
}

footer.app-footer {
  background: $brand-dark-gradient-invert;
  padding-top: 40px;
  padding-bottom: 40px;

  .app-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.1;
  }

  .menu-header {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--one-fl-colors-brand-secondary100);
  }

  .links {
    font-size: 14px;

    .link {
      margin-bottom: 3px;
      color: var(--one-fl-colors-brand-secondary100);
    }
  }

  .social-footer {
    margin: 70px 0;
  }

  .copyright {
    margin: 20px 0;
    font-size: 13px;
  }

  .post-footer {
    font-size: 13px;
    color: var(--one-fl-colors-brand-neutral600);
  }
}


@media screen and (max-width: 700px) {
  .app-title {
    font-size: 2rem !important;
  }

  .testimonial-card {
   height: 380px !important;
  }
}